*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*== Font Style ==*/
@font-face {
  font-family: AvenirNext;
  src: url(font/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: AvenirNext;
  src: url(font/AvenirNextLTPro-Bold.otf);
  font-weight: bold;
}

body {
  padding: 3px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "AvenirNext", sans-serif;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  background-color: #6a7b8b;
}
header img {
  width: 10%;
  margin: 1% 1% 1% 3%;
}
nav {
  display: flex;
  width: 30%;
}
a {
  text-decoration: none;
  font-size: 14pt;
  color: white;
  margin-right: 7%;
  margin-top: 7%;
}

/* CONTENT */

/* Section */
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#logo {
  width: 16%;
}
#h1-img {
  color: white;
  background-image: url("./assets/mr_coffee_salle.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 5%;
  margin-right: 5%;
  width: 87%;
  height: 800px;
}
#h1-img h1 {
  color: white;
  padding: 5%;
  font-size: 40px;
  margin-top: 3%;
}
.row {
  display: flex;
  width: 100%;
  margin-top: 50px;
  padding-right: 3%;
  padding-left: 3%;
}
.col-3 {
  background-color: #bac1c8;
  width: 30%;
  margin: 0 1.5% 0 1.5%;
  padding-bottom: 20px;
}
.col-3 img {
  width: 20%;
}
.col-2 {
  width: 50%;
  padding-left: 9%;
  padding-right: 9%;
}
section > p {
  margin-top: 50px;
}
.col-3 img {
  margin-top: 35px;
  margin-bottom: 20px;
}
.col-3 h3 {
  margin-bottom: 20px;
  font-size: 16pt;
  color: white;
  font-weight: bold;
}
.col-3 p {
  margin: 20px;
  font-size: 14pt;
  color: white;
  font-weight: 600;
}
#p1-section {
  font-size: 30pt;
  color: #5c5b5b;
  font-weight: bold;
  padding-top: 30px;
  margin-bottom: 30px;
}
#moreInfoBtn {
  margin: 80px 40px;
  background-color: #6a7b8b;
  padding: 20px 65px;
  color: white;
  font-size: 20pt;
  font-weight: bold;
  border: none;
  border-radius: 15px 15px;
}
#program-text {
  font-size: 30pt;
  font-weight: bold;
  color: #5c5b5b;
  margin-top: 0px;
}
#open-img-section {
  width: 100%;
  text-align: left;
  display: flex;
  align-content: center;
  margin-top: 5%;
}
#open-img-section img {
  width: 8%;
  margin-left: 10%;
  margin-right: 3%;
}
#open-img-section span {
  color: #5c5b5b;
  font-size: 16pt;
  font-weight: bold;
  align-self: center;
  margin-top: 3%;
}
.col-2 p {
  font-size: 18pt;
  color: #5c5b5b;
}
#p2-section {
  font-size: 20pt;
  color: #5c5b5b;
  font-weight: 500;
  margin-top: 7%;
  margin-bottom: 3%;
}
#p3-section {
  font-size: 24pt;
  color: #5c5b5b;
  font-weight: 500;
  margin-bottom: 3%;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #6a7b8b;
  padding: 2%;
  margin-top: 3%;
}
footer > img {
  width: 3%;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
footer div img {
  width: 2%;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
footer p {
  color: white;
}
nav {
  display: flex;
}
#footer-home {
  padding-top: 1%;
}
/* about CSS */
/* content in section */
#main-content {
  text-align: center;
}

.content-text-img {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.large-col {
  flex: 60%;
  padding: 5%;
  text-align: left;
}
.large-col p,
h1 {
  margin-bottom: 5%;
}
.small-col {
  flex: 40%;
  padding: 2%;
}
.small-col img {
  width: 90%;
  height: 90%;
}
.font32pt {
  font-size: 32pt;
  color: #5c5b5b;
}
.font22pt {
  font-size: 22pt;
  color: #5c5b5b;
}
.font16pt {
  font-size: 16pt;
  color: #5c5b5b;
  font-weight: 500;
}
.line-break {
  margin-top: 5%;
}
.no-line-break {
  margin-top: 5px;
}
/* contact CSS */
/* content in section */
.content-contact-details {
  text-align: left;
  width: 50%;
}
#main-content-contact img:last-child {
  margin: 5% 0 5% 25%;
  padding: 0;
  width: 55%;
  align-self: flex-start;
  border-style: solid;
  border-width: 1px;
}

@media screen and (max-width: 768px) and (min-width: 501px) {
  header img {
    width: 20%;
    margin-top: 3%;
  }
  nav {
    width: 60%;
  }
  #h1-img h1 {
    font-size: 20pt;
  }
  #h1-img {
    height: 400px;
  }
  #p1-section {
    font-size: 20pt;
  }
  .row {
    margin-top: 0;
  }
  #moreInfoBtn {
    margin: 30px;
    font-size: 14pt;
  }
  #program-text {
    font-size: 20pt;
  }
  #open-img-section {
    margin: 3% 0 3% 0;
  }

  #open-img-section img {
    width: 10%;
    margin-left: 10%;
  }
  #open-img-section span {
    font-size: 14pt;
  }
  .col-2 p {
    font-size: 12pt;
  }
  #p2-section {
    font-size: 14pt;
  }
  #p3-section {
    font-size: 14pt;
    margin-top: 20px;
  }
  footer > img {
    width: 7%;
    margin-top: 0;
  }
  footer div img {
    width: 5%;
    margin-top: 3%;
  }

  /* about page */
  .content-text-img {
    flex-direction: column-reverse;
  }
  .small-col img {
    width: 70%;
    height: 70%;
  }
}

@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header img {
    width: 50%;
    margin-top: 3%;
  }
  nav {
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  #logo {
    width: 30%;
  }
  #h1-img {
    height: 200px;
  }
  #h1-img h1 {
    font-size: 25pt;
  }
  #p1-section {
    font-size: 20pt;
  }
  .row {
    margin-top: 0;
  }
  .col-3 img {
    width: 50%;
  }
  .col-3 h3 {
    font-size: 12pt;
  }
  .col-3 p {
    font-size: 10pt;
  }
  #moreInfoBtn {
    margin: 20px;
    font-size: 14pt;
  }
  #program-text {
    font-size: 20pt;
  }
  #open-img-section img {
    width: 15%;
    margin-left: 10%;
  }
  #open-img-section span {
    font-size: 12pt;
  }
  .col-2 p {
    font-size: 12pt;
  }
  #p2-section {
    font-size: 14pt;
  }
  #p3-section {
    font-size: 14pt;
    margin-top: 20px;
  }
  footer > img {
    width: 10%;
    margin-top: 0;
  }
  footer div img {
    width: 5%;
    margin-top: 3%;
  }

  /* about page */
  .content-text-img {
    flex-direction: column-reverse;
  }
  .small-col img {
    width: 80%;
    height: 80%;
  }
  .font32pt {
    font-size: 20pt;
  }
  .font22pt {
    font-size: 12pt;
  }

  /* contact page */
  .font16pt {
    font-size: 10pt;
  }

  #main-content-contact img:last-child {
    margin: 5% 0 5% 15%;
    padding: 0;
    width: 70%;
  }
}
